/*找珠宝首页*/
.search-item{
    background: white;
    overflow: hidden;
    margin-bottom: 4%
}
.search-con{
    padding: 4% 4% 0;
}
.search-item .item-top{
    width: 30%;
    margin: 0 auto;
}
.search-item p{
    text-align: center;
    font-weight: bold;
}
.search-item p:nth-of-type(3){
    font-weight: normal;
    color: white;
    background: #C57E5D;
    border-radius: 4px;
    width: 50%;
    margin: 10px auto 20px;
    height: 30px;
    line-height: 30px;
}
.search-item .search-bt{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 35px;
}

/*找钻石-选择钻石*/
.zs-bt{
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.zs-sel1{
    -webkit-box-flex: 1.5;
    -moz-box-flex: 1.5;
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
}
.zs-sel-w{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: white;
}
.sel1-txt{
    display: inline-block;
    margin-top: 5px;
    font-size: .8rem;
}
.zs-sel1{
    background: #FFEBEC;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    z-index:3;
}
.zs-sel1:after{
    content: "";
    display: block;
    border-top: 1px solid #f6827a;
    border-right: 1px solid #f6827a;
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(61deg) skew(212deg);
    transform: rotate(61deg) skew(212deg);
    position: absolute;
    z-index: -1;
    top: 10px;
    right: -18px;
    background: #FFEBEC;
}
.zs-sel1 .zs-sel1-i{
    border-radius: 50%;
    display: inline-block;
    width: 44px;
    height: 44px;
    float: right;
    margin-top: 8px;
}
.zs-sel1 .i-ico_zuansi{
    color: white;
    background: #FF999A;
    text-align: center;
    float: right;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-top: 8px;
}
.zs-sel2{
    position: relative;
    z-index:2;
    padding-left: 15px;
}
.zs-sel2:after{
    content: "";
    display: block;
    border-top: 1px solid #f6827a;
    border-right: 1px solid #f6827a;
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(61deg) skew(212deg);
    transform: rotate(61deg) skew(212deg);
    position: absolute;
    z-index: -1;
    top: 10px;
    right: -18px;
}
.zs-sel2 i{
    background: white;
    color: #FF999A;
    border: 1px solid #FF999A;
    text-align: center;
    float: right;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-top: 8px;
}
.zs-sel3 {
    position: relative;
    z-index: 1;
    padding-left: 15px;
}
.zs-sel3 i{
    background: white;
    color: #FF999A;
    border: 1px solid #FF999A;
    text-align: center;
    float: right;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-top:8px;
    margin-right: 18px;
}
.zs-tab{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background: white;
    font-size: .75rem;
}
.zs-tab a{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    line-height: 40px;
    height: 40px;
}
.zs-tab .zs-tab1,.zs-tab .zs-tab2,.zs-tab .zs-tab3{
    background: url(../images/search-jewel/xiala.png) center no-repeat;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 14px;
}
.zs-list{
    background: white;
    display: -webkit-box;
    border-bottom: 1px solid #eee;
}
.zs-list .p{
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: 3px;
    margin-left: 3px;
}
.zs-list .r {
    margin: 4px 15px 6px 0;
    -webkit-box-flex: 1;
}
.zs-list .r .r-list1{
    font-weight: bold;
    font-size: .8rem;
    margin-top: 10px;
}
.zs-list .r .r-list2{
    font-size: .6rem;
}
.zs-list .r .r-list2,.zs-list .r .r-list3 {
    color: #FA3431;
}
.zs-list .r .r-list4{
    margin-left: 10px;
    color: #c6c6c6;
}
.zs-list .r .r-row{
    font-size: .7rem;
}
.zs-list .r .r-row2{
    font-size: .8rem;
}
.r-mlr{
    margin: 0 10px;
}
.m-l{
    margin-left: 10px;
}
.col{
    color:#FA3431 ;
}


/*珠宝主页*/
.zx-wrap1{
    margin-top: 20px;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    background: #fff;
    position: relative;
}
.zx-wrap1-left{
    position: relative;
}
.zx-wrap1-left p{
    padding-left: 16px;
}
.zx-wrap1-left p:nth-of-type(1){
    line-height: 22px;
    padding-top: 16px;
    color: #666;
    font-size:.75rem;
}
.zx-wrap1-left p .left-txt{
    color: #FA3431;
    font-weight: bold;
}
.zx-wrap1-left p .left-txt2{
    color: #ccc;
    font-size: .7rem;
    margin-left: 10px;
}
.zx-wrap1-left .left-txt3{
    position: absolute;
    top: 23px;
    right: 5px;
    background: #FF9899;
    color: white;
    font-size: .7rem;
    border-radius: 4px;
    text-align: center;
    padding: 0;
    width: 120px;
    height: 30px;
    line-height: 30px;
}
.zx-wrap1-left .left-txt3 .txt-sel{
    position: absolute;
    background: #414647;
    border-radius: 3px;
    width: 120px;
    right: 0;
    bottom: 45px;
    z-index: 9;
    display: none;
}
.zx-wrap1-left .left-txt3 .txt-sel:after{
    content: "";
    background: #414647;
    display: block;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: -6px;
    right: 12px;
    z-index: -1;
}
.zx-wrap1-left .left-txt3 .txt-sel a{
    display: block;
    color: #fff;
    border-bottom: 1px solid #666;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: .7rem;
}
.zx-wrap1-left .left-txt3 .txt-sel a:nth-of-type(2){
    border: none;
}
.zx-wrap2 .zx-wrap2-tit{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background: #EAEAEA;
    height: 40px;
}
.zx-wrap2 .zx-wrap2-tit p{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #A5A5A5;
    line-height: 35px;
}
.zx-wrap2 .zx-wrap2-tit span{
    height: 100%;
    display: inline-block;
    border-bottom: 1px solid transparent;
}
.zx-wrap2 .zx-wrap2-tit span.on{
    color:#FF9899;
    border-bottom: 1px solid #FF9899;
    width: 60%;
}
.zx-wrap2-con ul li{
    border-bottom: 1px solid #eee;
    font-size: .8rem;
    padding: 5px 0;
}
.zx-wrap2-con ul li p{
    display: inline-block;
    padding-left: 62px;
    width: 40%;
    text-align: left;
}
.zx-wrap2-con ul li p:nth-of-type(2){
    display: inline-block;
    width: 48%;
    text-align: right;
    vertical-align: middle;
}

/*筛选*/
.screen{
    width: 100%;
    background: #fff;
    position: absolute;
    top:0;
    z-index: 9999;
}
.screen .screen-tit{
    overflow: hidden;
    background: #C57E5D;
    height: 45px;
}
.screen .screen-tit span{
    margin-top: 10px;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    font-size: .8rem;
    height: 25px;
    line-height: 25px;
    width: 65px;
    text-align: center;
    border-radius: 4px;
}
.screen .screen-tit span:nth-of-type(1){
    float: left;
    margin-left: 15px;
}
.screen .screen-tit span:nth-of-type(2){
    float: right;
    margin-right: 15px;
}
.screen .screen-con{
    line-height: 50px;
    border: 1px solid #eee;
}
.screen .screen-con .screen-list p{
    text-align: center;
}


/*登陆*/
.login-user,.login-password {
    position: relative;
    height: 50px;
}
.login-user i{
    position: absolute;
    top: 8px;
    left: .5rem;
    width:30px;
    height: 30px;
    padding: 0;
    text-align: right;
    line-height: 2.1rem;
    color: #cccccc;
    font-size: 1rem;
    background: url(../images/login.png) no-repeat;
    background-size: contain;
}
.login-user input,.login-password input{
    width: 100%;
    display: block;
    border: 1px solid #eee;
    padding-left: 2.1rem;
    line-height: 2rem;
    color: #999999;
    height: 100%;
    font-size: .8rem;
}
.login-user span{
    position: absolute;
    right: 5px;
    top: 8px;
    font-size: .75rem;
    height: 28px;
    line-height: 28px;
    background-color: #C57E5D;
    border-radius: 4px;
    padding: 0 5px;
    color: #fff;
}
.login-password i{
    position: absolute;
    top: 8px;
    left: .5rem;
    width:30px;
    height: 30px;
    padding: 0;
    text-align: right;
    line-height: 2.1rem;
    color: #cccccc;
    font-size: 1rem;
    background: url(../images/mima.png) no-repeat;
    background-size: contain;
}
.login-go{
    text-align: center;
}
.login-go button{
    border: none;
    background: #C57E5D;
    width: 85%;
    color: #fff;
    height: 50px;
    line-height: 52px;
    text-align: center;
    border-radius: 4px;
    font-size: .8rem;
}
.login-user,.login-go{
    margin-top: 10px;
}

/*地址详情页*/
.location-item4{
    border: 1px solid #A4A4A4;
    border-radius: 8px;
    width: 95%;
    margin: 0 auto;
    background: #fff;
    margin-top: 20px;
}
.location-item2{
    border: 1px solid #A4A4A4;
    border-radius: 8px;
    width: 95%;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    margin-top: 20px;
}
.location-item2 .location-item2-tit{
    font-size: .8rem;
}
.location-item2 .location-item2-con1{
    overflow: hidden;
    font-size: .8rem;
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.location-item2 .location-item2-con1 p{
    margin-top: 5px;
}
.location-item2 .location-item2-con1 i{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.lc-dz{
    background: url("../images/dizi.png")no-repeat center;
    background-size: contain;
    vertical-align: top;
}
.lc-dh{
    background: url("../images/zuoji.png")no-repeat center;
    background-size: contain;
    vertical-align: bottom;
}
.location-item2 .location-item2-con1 span{
    display: inline-block;
    width: 85%;
    margin-left: 4%;
}

/*找钻石-戒托*/
.zs2-sel1{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    z-index: 3;
    background: #fff;
    position: relative;
}
.zs2-sel1 i{
    background: white;
    color: #FF999A;
    border: 1px solid #FF999A;
    text-align: center;
    float: right;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-top: 8px;
}
.zs2-sel1:after{
    content: "";
    display: block;
    border-top: 1px solid #f6827a;
    border-right: 1px solid #f6827a;
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(61deg) skew(212deg);
    transform: rotate(61deg) skew(212deg);
    position: absolute;
    z-index: -1;
    top: 10px;
    right: -18px;
    background: #fff;
}
.zs2-sel2{
    -webkit-box-flex: 1.5;
    -moz-box-flex: 1.5;
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 2;
    background: #FFEBEC;
}
.zs2-sel2 i{
    color: white;
    background: #FF999A;
    text-align: center;
    float: right;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-top: 8px;
}

.zs2-sel2:after{
    content: "";
    display: block;
    border-top: 1px solid #f6827a;
    border-right: 1px solid #f6827a;
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(61deg) skew(212deg);
    transform: rotate(61deg) skew(212deg);
    position: absolute;
    z-index: -1;
    top: 10px;
    right: -18px;
    background: #FFEBEC;
}
.zs2-sel3 i{
    background: white;
    color: #FF999A;
    border: 1px solid #FF999A;
    text-align: center;
    float: right;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 18px;
}
.zs2-sel3{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: white;
    z-index: 1;
}
.zs2-sel2 .sel2-txt{
    padding-left: 15px;
    margin-top:5px;
    font-size: .8rem;
}

.diy_pro{
    display: none;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 71px;
    left: 0;
    z-index: 99;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.diy_pro dl dt{
    overflow: hidden;
    height: 100px;
    padding: 5px;
}
.diy_pro img{
    height: 90px;
    width: 90px;
    float: left;
}
.diy_pro .diy_pro_1{
    float: right;
    color: #f6827a;
    margin-top: 20px;
}
.diy_pro p{
    float: left;
    text-align: left;
    margin-top: 20px;
    font-size: .8rem;
}
.diy_pro dd{
    text-align: center;
}
.diy_pro dd a{
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    width: 45%;
    height:28px;
    line-height: 28px;
}
.diy_pro dd a:nth-of-type(1){
    background: #f6827a;
    margin-right: 15px;
}
.diy_pro dd a:nth-of-type(2){
    background: #ccc;
}
.zx-wrap1-2{
    font-size: .8rem;
    border-top: 10px solid #efeff4;
    padding: 10px 0 10px 16px;
}
.zx-wrap1-2 span{
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}
.zx-wrap1-2 span:nth-of-type(1){
    font-weight: bold;
    text-align: left;
}
.zx-wrap1-2 span:nth-of-type(2){
    background: #FF9899;
    color: #fff;
    width: 85px;
    height: 30px;
    line-height: 30px;
    margin:0 15px;
}
.zx-wrap1-2 span:nth-of-type(3){
    background: #fff;
    border: 1px solid #333;
    width: 85px;
    height: 30px;
    line-height: 30px;
}
.zs3-sel1{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    z-index: 3;
    background: #fff;
    position: relative;
}

.zs3-sel1:after {
    content: "";
    display: block;
    border-top: 1px solid #f6827a;
    border-right: 1px solid #f6827a;
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(61deg) skew(212deg);
    transform: rotate(61deg) skew(212deg);
    position: absolute;
    z-index: -1;
    top: 10px;
    right: -18px;
    background: #fff;
}
.zs3-sel1 i{
    background: white;
    color: #FF999A;
    border: 1px solid #FF999A;
    text-align: center;
    float: right;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-top: 8px;
}
.zs3-sel2{
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: white;
}

.zs3-sel2:after {
    content: "";
    display: block;
    border-top: 1px solid #f6827a;
    border-right: 1px solid #f6827a;
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(61deg) skew(212deg);
    transform: rotate(61deg) skew(212deg);
    position: absolute;
    z-index: -1;
    top: 10px;
    right: -18px;
    background: #fff;
}

.zs3-sel2 i{
    background: white;
    color: #FF999A;
    border: 1px solid #FF999A;
    text-align: center;
    float: right;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-top: 8px;
}
.zs3-sel3{
    background: #FFEBEC;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}
.zs3-sel3 .sel3-txt{
    margin-top: 20px;
    margin-left: 10px;
}
.zs3-sel3 i{
    color: white;
    background: #FF999A;
    text-align: center;
    float: right;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    margin-top: 8px;
}
.search-q1{
    background: #fff;
    font-size: .8rem;
    padding: 4%;
}
.search-q1 div{
    overflow: hidden;
}
.search-q1 .i-ico_zuansi,.search-q1 .i-ico_jietuo{
    color: #FF999A;
    font-weight: bold;
    padding-right: 10px;
}
.q1-span2,.q1-span3{
    float: right;
}
.q1-span3{
    border: 1px solid #FF999A;
    padding: 0 5px;
    border-radius: 4px;
    margin-left: 4px;
}
.search-q1-t span{
    color: #FF999A;
    font-size: .9rem;
}
.search-q1-qxz{
    float: right;
}
.cz-top{
margin-top: 10px;
 }
.search-q22{
    border-bottom: 1px solid #eee;
    height: 40px;
    line-height: 40px;
}
.search-q1-q{
    margin: 10px 0;
}
.search-q1-q2{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.screen-sx1{
    padding-left: 20px;
    border-bottom: 1px solid #eee;
}
.screen-sx1 select{
    margin-left: 10px;
}
.screen-sx1 input{
    width: 20%;
}
.screen .screen-con .screen-list .screen-sx2 p {
    text-align: left;
    padding-left: 20px;
}
.screen-sx2-1,.screen-sx2-2{
    overflow: hidden;
}
.screen-sx2-1 i,.screen-sx2-2 i{
    display: inline-block;
    width: 60px;
    height: 60px;
}
.screen-sx2-1 .screen-img1{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -12px 0;
}
.screen-sx2-1 .screen-img2{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -98px 0;
}
.screen-sx2-1 .screen-img3{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -184px 0;
}
.screen-sx2-1 .screen-img4{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -268px 0;
}
.screen-sx2-1 .screen-img5{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -353px 0;
}

.screen-sx2-1 .screen-img1.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -12px 0;
}
.screen-sx2-1 .screen-img2.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -98px 0;
}
.screen-sx2-1 .screen-img3.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -184px 0;
}
.screen-sx2-1 .screen-img4.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -268px 0;
}
.screen-sx2-1 .screen-img5.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -353px 0;
}

.screen-sx2-1 a,.screen-sx2-2 a{
    width: 19%;
    display: block;
    float: left;
    text-align: center;
}

.screen-sx2-2 .screen-img1{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -438px 0;
}
.screen-sx2-2 .screen-img2{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -523px 0;
}
.screen-sx2-2 .screen-img3{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -608px 0;
}
.screen-sx2-2 .screen-img4{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -693px 0;
}
.screen-sx2-2 .screen-img5{
    background: url("../images/search-jewel/pic_rig_1.jpg") no-repeat center;
    background-position: -778px 0;
}

.screen-sx2-2 .screen-img1.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -438px 0;
}
.screen-sx2-2 .screen-img2.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -523px 0;
}
.screen-sx2-2 .screen-img3.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -608px 0;
}
.screen-sx2-2 .screen-img4.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -693px 0;
}
.screen-sx2-2 .screen-img5.on{
    background: url("../images/search-jewel/pic_rig_2.jpg") no-repeat center;
    background-position: -778px 0;
}


.screen-sx2-1 a:nth-of-type(1),.screen-sx2-2 a:nth-of-type(1){
    margin-left: 2%;
}
.screen-sx2-but{
    padding-left: 20px;
}
.screen-sx2-but span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    background: #ccc;
    color: #999;
    text-align: center;
    width: 100px;
}
.screen-sx2-but span.on{
    background:#C57E5D ;
    color: #fff;
}
.screen .screen-con .screen-list .screen-sx2-4{
    text-align: center;
}
.screen .screen-con .screen-list .screen-sx2-4 button{
    border: none;
    width: 90%;
    background:#C57E5D ;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: .8rem;
    border-radius: 4px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 10px;
}

.selector{
    background: #fff;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    color: #323232;
    width: 100%;
    height: 270px;
    font-size: 15px;
    background-color: #fff;
    overflow: hidden;
    background: #fff;
    z-index: 9999;
}
.selector .dropdown-nav{
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 45px;
    display: -webkit-box;
}
.selector .dropdown-nav .dropdown-nav-item{
    text-align: center;
    -webkit-box-flex: 1;
    border-bottom: 2px solid transparent;
}
.selector .dropdown-nav .on{
    border-bottom: 2px solid #ff8400;
}
.selector .dropdown-module{
    height: 270px;
    position: relative;
    overflow: hidden;
}
.selector .dropdown_scroller{
    width: 50%;
    height: 270px;
    overflow: scroll;
}
.dropdown_menu{
    position: relative;
    height: 100%;
    width: 100%;
    background: #f5f5f5;
    -webkit-box-sizing: border-box;
    float: left;
    overflow: scroll;
}
.dropdown_menu .item{
    display: block;
    height: 45px;
    line-height: 45px;
    color: #323232;
    overflow: hidden;
    padding-left: 25px;
}
.dropdown_menu .item.on{
    background: #fff;
}
.dropdown_sub_scroller{
    position: absolute;
    top: 0;
    left: 45%;
    width: 55%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 270px;
    padding-left: 15px;
}
.dropdown_sub_scroller .dropdown_menu.on{
    background: #fff;
}
.dropdown_sub_scroller .dropdown_menu .item-cl{
    border-bottom: 1px solid #ccc;
}
.bar.zIndex{z-index: 9999}











